/* Style de la liste des étudiants pour la page des candidats */
.candidats-page ul {
    list-style-type: none;
    padding: 0;
}

.candidats-page li {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.candidats-page p {
    margin: 0;
    font-weight: bold;
}

.candidats-page h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: rgb(255, 0, 0);
}
