.listeStage {
    list-style-type: none;
    padding: 0;
}

.listeStage li {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.listeStage li:hover {
    background-color: #e0e0e0;
}



.listeStage li div {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h2 {
    color: #333;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.Liste-Stages {
    list-style-type: none;
    padding: 0;
  }
  
  .Liste-Stages div {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .StageUserItem {
    font-weight: bold;
  }
  
  .Link-Button {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
  }
  
  .Link-Button:hover {
    text-decoration: underline;
  }
  
  
