.acceuil {
    background-color: #262626;
    color: #dcdcdc;
    padding:20px;
    
      font-family : "OCR A Std", monospace;
      
      
  }
  
  h3 {
    color: #ffb6c1;
  }
  
  p {
    color: #dcdcdc;
    line-height: 1.5;
  }
  
  /* Utilisation d'une nuance de rose pour un contraste supplémentaire */
  
  .acceuil a {
    color: #ffc0cb;
  }