footer {
    background-color: #333; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    padding: 20px; /* Espace intérieur */
    display: flex; /* Utilisation de Flexbox pour aligner le contenu */
    flex-direction: column; /* Disposition en colonne */
    align-items: center; /* Alignement horizontal du contenu */
    justify-content: center; /* Alignement vertical du contenu */
    font-size: 14px; /* Taille de police */
    bottom: 0; /* Collé en bas de la page */
    height: 39px;
    margin-top: auto;
  }
  
  footer p {
    margin: 0; /* Supprimer les marges par défaut */
    line-height: 1.5; /* Hauteur de ligne */
  }
  
  footer a {
    color: #fff; /* Couleur du lien */
    text-decoration: none; /* Supprimer la soulignement du lien */
    margin-left: 10px; /* Espacement des liens */
  }
  
  @media (min-width: 768px) {
    footer {
      flex-direction: row; /* Disposition en ligne à partir de 768px */
    }
    
    footer p {
      margin-right: 10px; /* Espacement des paragraphes à partir de 768px */
    }
  }
  